In [1]:
import pandas as pd
import numpy as np

In [2]:
df_org = pd.read_csv(r'C:\Users\Syeda\Desktop\Data Analytics\Python Portfolio\Netflix\netflix_titles.csv')
df_org.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [3]:
df_opt = df_org.copy()
df_opt.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [4]:
df_opt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [5]:
del_col = ['show_id','description']
df_opt.drop(del_col, inplace=True, axis=1)
df_opt.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries
1,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV"
4,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."

In [6]:
cal_null = df_opt.isnull().sum()
print(cal_null)

type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [7]:
df_opt['director'] = df_opt['director'].fillna('Unknown')

In [8]:
df_opt['rating'] = df_opt['rating'].fillna('Unknown')

In [9]:
df_opt['duration'] = df_opt['duration'].fillna('Unknown')

In [10]:
df_opt['country'] = df_opt['country'].fillna('Unknown')

In [11]:
df_opt['cast'] = df_opt['cast'].fillna('Unknown')

In [12]:
df_opt['title'] = df_opt['title'].fillna('Unknown')

In [13]:
#df_opt['date_added'].fillna('22.02.2021', inplace=True)

In [14]:
type_val = df_opt['type'].value_counts()

In [15]:
director_val = df_opt['director'].value_counts()

In [16]:
duration_val = df_opt['duration'].value_counts()

In [17]:
country_val = df_opt['country'].value_counts()

In [18]:
cast_val = df_opt['cast'].value_counts()

In [19]:
date_val = df_opt['date_added'].value_counts()

In [20]:
release_val = df_opt['release_year'].value_counts()

In [21]:
rating_val = df_opt['rating'].value_counts()

In [22]:
listed_val = df_opt['listed_in'].value_counts()

In [23]:
df_opt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      8807 non-null   object
 3   cast          8807 non-null   object
 4   country       8807 non-null   object
 5   date_added    8797 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8807 non-null   object
 8   duration      8807 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [24]:
df_opt = df_opt.astype({'type':'category'})

In [25]:
df_opt["date_added"] =  pd.to_datetime(df_opt["date_added"])

In [26]:
df_opt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   category
 1   title         8807 non-null   object
 2   director      8807 non-null   object
 3   cast          8807 non-null   object
 4   country       8807 non-null   object
 5   date_added    8797 non-null   datetime64[ns]
 6   release_year  8807 non-null   int64
 7   rating        8807 non-null   object
 8   duration      8807 non-null   object
 9   listed_in     8807 non-null   object
dtypes: category(1), datetime64[ns](1), int64(1), object(7)
memory usage: 628.1+ KB

In [27]:
#df_opt = df_opt.replace(np.nan, 'Unkown', inplace=True)

In [28]:
df_opt=df_opt.dropna(subset=['date_added','rating']) #to drop nan values of date and rating

In [29]:
df_opt.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,2021-09-25,2020,PG-13,90 min,Documentaries
1,TV Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Unknown,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,TV Show,Jailbirds New Orleans,Unknown,Unknown,Unknown,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV"
4,TV Show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."

In [30]:
df_opt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8797 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8797 non-null   category
 1   title         8797 non-null   object
 2   director      8797 non-null   object
 3   cast          8797 non-null   object
 4   country       8797 non-null   object
 5   date_added    8797 non-null   datetime64[ns]
 6   release_year  8797 non-null   int64
 7   rating        8797 non-null   object
 8   duration      8797 non-null   object
 9   listed_in     8797 non-null   object
dtypes: category(1), datetime64[ns](1), int64(1), object(7)
memory usage: 696.0+ KB

In [31]:
print(rating_val)

TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
Unknown        4
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
Name: rating, dtype: int64

In [32]:
df_opt[(df_opt['rating']=='74 min') | (df_opt['rating']=='84 min') | (df_opt['rating']=='66 min')]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
5541,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,2017-04-04,2017,74 min,Unknown,Movies
5794,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,2016-09-16,2010,84 min,Unknown,Movies
5813,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,2016-08-15,2015,66 min,Unknown,Movies

In [33]:
df_opt.loc[(df_opt['rating']=='74 min') | 
            (df_opt['rating']=='84 min') | 
            (df_opt['rating']=='66 min'), 'duration'] = ['74 min', '84 min', '66 min']

In [34]:
df_opt.loc[(df_opt['rating']=='74 min') | 
            (df_opt['rating']=='84 min') | 
            (df_opt['rating']=='66 min'), 'rating'] = None

In [35]:
df_opt[(df_opt['date_added']== '2017-04-04')]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
5541,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,2017-04-04,2017,None,74 min,Movies
6460,TV Show,Chewing Gum,Unknown,"Michaela Coel, John Macmillan, Robert Lonsdale...",United Kingdom,2017-04-04,2017,TV-MA,2 Seasons,"British TV Shows, International TV Shows, Roma..."

In [36]:
#df_opt[['duration_value','duration_unit']] = df_opt.duration.str.split(expand=True)
#df_opt.head()

In [37]:
#df_opt.drop(['duration'], inplace=True, axis=1)
#df_opt.head()

In [38]:
df_opt.to_csv(r'C:\Users\Syeda\Desktop\Data Analytics\Python Portfolio\Netflix\netflix_cleaned.csv')